<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-128 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <form
                class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
                [formGroup]="createEquipmentForm">

                <!-- Header -->
                <div class="flex items-center justify-between">
                    <div class="text-lg font-medium">
                        Nouvel Équipement
                    </div>

                    <!-- Close button -->
                    <button
                        mat-icon-button
                        (click)="clearAll()">
                        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>

                <mat-divider class="mt-6 mb-8"></mat-divider>

                <!-- Name -->
                <div class="flex flex-col w-full items-center">
                    <mat-form-field class="fuse-mat-no-subscript w-4/5">
                        <mat-label>Nom</mat-label>
                        <input matInput
                               placeholder="Nom"
                               [formControlName]="'name'"
                               #nameFieldAdd>
                    </mat-form-field>
                </div>

                <!-- Activity Type -->
                <div class="flex flex-col w-full items-center mt-8">
                    <mat-form-field class="fuse-mat-no-subscript w-4/5">
                        <mat-label>Type d'activité</mat-label>
                        <mat-select
                            [formControlName]="'activityTypeId'">
                            <ng-container *ngFor="let activityType of activityTypes">
                                <mat-option [value]="activityType.id">{{activityType.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Save add Equipment button -->
                <div class="flex flex-col w-full items-center mt-10">
                    <button
                        class="ml-4"
                        mat-flat-button
                        [disabled]="createEquipmentForm.invalid"
                        [color]="'primary'"
                        (click)="addEquipment()">
                        <span class="ml-2 mr-1">Sauvegarder</span>
                    </button>
                </div>
            </form>
        </mat-drawer>

        <mat-drawer-content>
            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8">
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight">Mes Équipements</div>

                <!-- Actions -->
                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <div
                        class="flex items-center mr-4"
                        *ngIf="flashMessage">
                        <ng-container *ngIf="flashMessage === 'success'">
                            <mat-icon
                                class="text-green-500"
                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2" *ngIf="message">{{message}}</span>
                            <span class="ml-2" *ngIf="!message">Mise à jour réussite</span>
                        </ng-container>
                        <ng-container *ngIf="flashMessage === 'error'">
                            <mat-icon
                                class="text-red-500"
                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            <span class="ml-2" *ngIf="message">{{message}}</span>
                            <span class="ml-2" *ngIf="!message">Une erreur s'est produite, réessayez !</span>
                        </ng-container>
                    </div>
                    <!-- Add Equipment button -->
                    <button
                        *ngIf="!addingMode"
                        class="ml-4"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="createEquipment()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Ajouter</span>
                    </button>
                </div>
            </div>

            <!-- Main -->
            <div class="flex flex-col overflow-hidden">

                <ng-container *ngIf="activityTypes">
                    <div class="py-8 px-15" *ngFor="let activityType of activityTypes">
                        <div class="text-4xl font-bold tracking-tight pb-3">{{activityType.name}}</div>
                            <ng-container *ngIf="equipments && equipments.length > 0 && findActivityTypeEquipments(activityType).length > 0; else noEquipments">
                                <ul class="list-disc pt-3 pl-10">
                                    <form [formGroup]="selectedEquipmentForm" *ngFor="let equipment of findActivityTypeEquipments(activityType)">
                                        <li>
                                            <div class="flex flex-auto justify-between items-center item-line md:w-1/4">
                                                <div class="flex flex-auto items-center w-fit" *ngIf="selectedEquipment === equipment" #editField>
                                                    <mat-form-field class="fuse-mat-no-subscript font-medium w-50">
                                                        <input matInput
                                                               placeholder="Nom"
                                                               [formControlName]="'name'"
                                                               (keydown.enter)="saveEdit()"
                                                               (keydown.escape)="selectedEquipment = null; selectedEquipmentForm.reset()"
                                                               #nameField>
                                                    </mat-form-field>

                                                    <div class="flex flex-col">
                                                        <mat-icon
                                                            (click)="selectedEquipment = null; selectedEquipmentForm.reset()"
                                                            class="icon-size-5 ml-2 cursor-pointer"
                                                            [matTooltip]="'Annuler'"
                                                            [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                        <mat-icon
                                                            (click)="saveEdit()"
                                                            class="icon-size-5 ml-2 cursor-pointer"
                                                            [matTooltip]="'Sauvegarder'"
                                                            [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                    </div>
                                                </div>

                                                <div
                                                    class="no-edit items-center text-lg font-medium p-1.5 rounded hover:bg-gray-800 hover:bg-opacity-5 hover:dark:bg-white hover:dark:bg-opacity-12 w-fit"
                                                    *ngIf="selectedEquipment !== equipment"
                                                    (click)="editEquipment(equipment)">
                                                    {{equipment.name}}
                                                </div>

                                                <mat-icon
                                                    class="md:hidden icon-size-5 cursor-pointer delete"
                                                    (click)="deleteSelectedEquipment(equipment.id)"
                                                    [matTooltip]="'Supprimer'"
                                                    svgIcon="heroicons_outline:trash">
                                                </mat-icon>
                                            </div>
                                        </li>
                                    </form>
                                </ul>
                            </ng-container>
                        <ng-template #noEquipments>
                            <div class=" pt-3 pl-10 font-semibold tracking-tight ">Aucun équipement trouvé !</div>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
